:root {
    --border-radius-large: 0.5rem;
    --color-cyan: hsl(179, 62%, 43%);
    --color-light-cyan: hsl(179, 50%, 50%);
    --color-bright-yellow: hsl(71, 73%, 54%);
    --color-bright-yellow-hover: hsl(71, 50%, 45%);
    --color-light-gray: hsl(204, 43%, 93%);
    --color-light-gray-muted: rgb(229, 239, 245, 0.6);
    --color-grayish-blue: hsl(218, 22%, 67%);
}

@media (max-width: 480px) {
    .card {
        grid-template-columns: 1fr;
        max-width: 90vw;
    }

    .card-action {
        border-bottom-left-radius: 0;
        padding: 1.8rem
    }

    .card-header {
        padding: 1.8rem;
        padding-bottom: 2.3rem;
    }

    .card-info {
        border-bottom-left-radius: var(--border-radius-large);
        padding: 1.8rem;
    }

    .highlight {
        margin-bottom: 1.2rem;
    }
}

@media (min-width: 481px) {
    .card {
        grid-template-columns: 360px 360px;
        grid-template-rows: 0.8fr 1fr;
    }

    .card-action {
        border-bottom-left-radius: var(--border-radius-large);
        padding: 2.9rem;
    }

    .card-header {
        grid-column: 1 / span 2;
        padding: 2.9rem;
        padding-right: 3.5rem;
    }

    .card-info {
        padding: 2.9rem;
    }

    .highlight {
        margin-bottom: 0.8rem;
    }
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-light-gray);
    display: grid;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    min-height: 100vh;
    place-content: center;
}

button {
    background-color: var(--color-bright-yellow);
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.2);
    color: var(--color-light-gray);
    cursor: pointer;
    font-weight: 700;
    margin-top: 2rem;
    height: 3.5rem;
    width: 100%;
}

button:hover {
    background-color: var(--color-bright-yellow-hover);
    color: var(--color-light-gray);
}

h2, h3, .price {
    font-weight: 700;
}

h3 {
    font-size: 20px;
    margin-bottom: 1rem;
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.1);
    display: grid;
    
    margin-bottom: 1rem;
}

.card-header {
    font-size: 18px;
    
    
}

.card-header-text {
    color: var(--color-grayish-blue);
    line-height: 1.7em;
}

.card-title {
    color: var(--color-cyan);
    margin-bottom: 1.8rem;
}

.card-action {
    background-color: var(--color-cyan);
    
    color: var(--color-light-gray);
    font-size: 18px;
}

.card-info {
    background-color: var(--color-light-cyan);
    border-bottom-right-radius: var(--border-radius-large);
    color: var(--color-light-gray);
    line-height: 1.5rem;
}

.card-info-list {
    color: rgb(229, 239, 245, 0.8);
    list-style: none;
}

.highlight {
    color: var(--color-bright-yellow);
    
}

.price {
    font-size: 36px;
    margin-right: 1rem;
    
}

.price-line {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
    margin-top: 1.5rem;
}

.price-muted {
    color: var(--color-light-gray-muted);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--color-cyan); 
}

.attribution a:hover {
    color: var(--color-light-cyan);
}
